.bookinfo{
 /* background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9RmuwgtwnbM8ZEDEVYAVMPmVSZvMBysfhcw&usqp=CAU");
  height: 100vh;
  padding-top: 5%;
  background-repeat: no-repeat;
  background-size: contain; */
  height:70vh;
  padding-top: 5%;
}
.book {
  width: 300px;
  margin: auto;
  height: 300px;
  position: relative;

  perspective: 500;
}
.page {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  position: absolute;
  perspective: 500;
  /* transform: rotateX('angle'); */
  /* transition-duration: 4s; */
  /* transform-style: preserve-3d; */
  backface-visibility: hidden;
  /* transform-origin:left bottom; */
  /* transform-style: preserve-3d; */
}
.book .page img {
  width: 300px;
  height: 400px;
  transform-origin: left bottom;
  transition-duration: 4s;
  z-index: 10;
  position: absolute;
}

.page:hover > .book-cover {
  transform: rotateY(180deg);
}
.page:hover > .content {
  transform: translateX(300px)

  
}

.page-2 {
  background-color: black;
  height: 400px;
  width: 100%;
  padding: 10px 7px;
  line-height: 30px;
  color:wheat;
  border-left: 10px solid #ffd60a;
  border-right:1px solid wheat;
  border-top: 1px solid wheat;
  border-bottom: 1px solid wheat;
}
.content {
  background-color: black;
  height: 400px;
  width: 100%;
  color:wheat;
  position: absolute;
  border: 1px solid wheat;
  top: 0px;
  transform-origin: right bottom;
  transition-duration: 3s;
  transition-delay: 1s;
  padding: 7px;
}

.page-2 .page-2-text .author{
    margin-bottom: 20px !important;
   
}
.page-2 .title{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0px;
    color:#ffd60a;
}
.book span{
    font-weight: bold;
}