.postProduct{
padding: 50px 0px;
}

.postProduct .postProductForm .heading{
   font-size: 40px;
   text-align: center;
   font-weight: 600;
   color:#ffd60a;
}
.postProduct .postProductForm{
   background-color: #0a3464;
   font-size: large;
   padding: 30px 10px;
}
.postProduct .postProductForm .uploadimg img{
   height: 200px;
   width:150px;
  
}
.postProduct .postProductForm #bimg{
   display: none;
   /* position: relative;
   left:-100px; */
}
.postProduct .postProductForm .choosefile{
   border: 2px solid #ffd60a;
   width: 80%;
   height: 35px;
   padding: 5px;
   box-sizing: border-box;
}
.postProduct .postProductForm .productFields{
   margin:10px;
}
.postProduct .postProductForm .section1 .productFields label,.choose-file-label,.postProduct .postProductForm .section2 .productFields label{
   color:wheat;
}
.postProduct .postProductForm .section1 .productFields input{
   width: 80%;
}
.postProduct .postProductForm .productFields .radio-btn{
   margin: 0px 5px 0px 20px;

}

.postProduct .postProductForm .section3 {
   position: relative;
   height: 300px;
}
.postProduct .postProductForm .section3 label{
   margin-right: 10px;
   color:wheat;
}
textarea{
   width:80% ;
   /* border: 2px solid rgb(72, 15, 85); */

}
.postProduct .postProductForm .section3 .productFields input{
   width: 80%;
   /* border: 2px solid rgb(72, 15, 85); */

}
.postProduct .postProduct-btn{
  
    width:200px;
    height: 40px;
    position: absolute;
    bottom:10%;
    right:10%; 
    border-radius: 5px;
    transform:scale(1);
    transition-duration: 0.5s;
    border: 1px solid #f7b801;
    box-shadow: 2px 2px 10px #58564e;
}
.postProduct .postProduct-btn:hover{
   background-color: black;
   border: 1px solid black;
   /* box-shadow: 2px 2px 10px rgba(88, 46, 97, 0.829); */
   color:#f7b801;
   transform:scale(1.2);

}