.register{
   box-shadow: 2px 2px 20px rgba(59, 59, 59, 0.664);
    width:400px;
    background-color:rgba(132, 135, 156, 0.5);
    margin:auto;
    padding: 20px;
}
.register-background{
    /* background-color: rgb(0, 70, 136); */
    background-image:url("../photos/background.jpeg");
    padding-top:10%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center bottom;
}
.register .input-fields{
    margin: 20px 0px;
    
}

.register .input-fields label{
    color:white;
    font-size: large;
}

.register .input-fields input{   
    width:95%;
    height:30px;
    margin-top: 5px;
    border-radius: 5px;
}

/* .register .register-button{
    height: 40px;
    width:100px;
    background-color: black;
    color:white;
}
.register .register-button:hover{
    background-color: white;
    color:black;
} */
.register .register-title{
    text-align:center;
    font-size: xx-large;
    color:#0a3464;
}

.register .register-btn{
  
}
.register .register-btn button{
    width:200px;
    height: 35px;
    text-align: center;
    background-color: #f7b801;
    border-radius: 5px;
    transform:scale(1);
    transition-duration: 0.5s;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #f7b801;
    box-shadow: 2px 2px 10px #58564e;
}
.register .register-btn button:hover{
    background-color: black;
    border: 1px solid black;
    /* box-shadow: 2px 2px 10px rgba(88, 46, 97, 0.829); */
    color:#f7b801;
    transform:scale(1.2);
 
 }
.register .login-reg{
    color:white;
    text-align:center;
}