.book{
   width: 300px;
   margin: auto;
   height: 300px;
    position:relative;
    margin-top: 200px;
}
.page{
    width:100%;
    height: 100%;  
    box-sizing:content-box;
    position: absolute;
    /* transform: rotateX('angle'); */
    transition-duration: 4s;
    /* transform-style: preserve-3d; */
  /* backface-visibility: hidden; */
  background-color: white;
  transform-origin:left bottom;
}
.book .page img{
   height: 100%;
   width: 100%;
}

.page:hover{
    transform: rotateY(180deg);

}
.page-2{
    background-color: rgba(253, 225, 240, 0.671);
    height: 400px;
    width: 100%;
    border: 1px solid rgba(248, 160, 207, 0.671);;
}